*{
    background-image: url(https://img.wallpapersafari.com/desktop/728/410/30/89/yXkVEQ.jpg);
    background-color: black;
    background-size: cover;
    font-size: 80px;
    color: hsl(202, 100%, 50%);
}

h2{
    flex: wrap;
    flex-wrap: wrap;
    flex-basis: auto;
    font-family: 'Lucida Console';
    font-weight:  10000px;
}
body{
    flex: wrap;
    flex-wrap: wrap;
    flex-basis: auto;
    color:white;
    font-size: 26px;
    text-align: center;
    font-family: "Lucida Console";
    border:hidden;
}

.button-1 {
    flex:wrap;
    flex-direction: inherit;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    position:absolute;
    bottom: 80px;
    right: 270px;
    padding: 9px 24px;
    border: 6px solid #000000;
    border-radius: 100px;
    background: #000000;
    background: -moz-linear-gradient(top, #000000, #000000);
    background: linear-gradient(to bottom, #000000, #000000);
    -webkit-box-shadow: #4666d6 0px 0px 48px 6px;
    -moz-box-shadow: #4666d6 0px 0px 48px 6px;
    box-shadow: #4666d6 0px 0px 48px 6px;
    text-shadow: #000000 1px 1px 1px;
    font: italic normal bold 20px georgia;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:active,
.button:focus {
    color: #ffffff;
    text-decoration: none;
}
.button-2 {
    flex:wrap;
    flex-direction: inherit;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    bottom: 80px;
    left: 270px;
    padding: 9px 24px;
    border: 6px solid #000000;
    border-radius: 100px;
    background: #000000;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
    background: -moz-linear-gradient(top, #000000, #000000);
    background: linear-gradient(to bottom, #000000, #000000);
    -webkit-box-shadow: #4666d6 0px 0px 48px 6px;
    -moz-box-shadow: #4666d6 0px 0px 48px 6px;
    box-shadow: #4666d6 0px 0px 48px 6px;
    text-shadow: #000000 1px 1px 1px;
    font: italic normal bold 20px georgia;
    color: #ffffff;
    text-decoration: none;
}
.button2:hover,
.button2:active,
.button2:focus {
    color: #ffffff;
    text-decoration: none;
}
